.lessons {

  &__row:nth-child(even) {
    background-color: #f0f2f5;
    border-radius: 5px;
  }

  &__add-sprint {
    margin-left: 3rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    background-color: #adb8c782;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    button {
      align-self: flex-end;
    }

  }

  &__create-sprint {
    margin-bottom: 3rem;
  }
}