.google-btn {
  background-color: #3cba54 !important;
  color: white !important;
  border-color: #3cba54 !important;
  margin: 10px 10px;

  &:hover {
    background-color: white !important;
    color: #3cba54 !important;
    border-color: #3cba54 !important;
  }
}

.github-btn {
  background-color: #333 !important;
  color: white !important;
  border-color: #333 !important;
  margin: 10px 10px;

  &:hover {
    background-color: white !important;
    color: #333 !important;
    border-color: #333 !important;
  }
}