.cover {
  height: 100vh;
}

.cover-img {
  background-image: url(https://source.unsplash.com/collection/4720465/);
  background-size: cover;
}

.cover-img-2 {
  background-image: url(https://source.unsplash.com/collection/4720465/);
  background-size: cover;
  background-position-y: center;
}

.cover-3 {
  background-image: url(https://source.unsplash.com/collection/4720465/);
  background-size: cover;
}

.overflow-scroll {
  height: 100vh;
  overflow-y: scroll;
}
