.App {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.remove-student {
    color: red;
    cursor: pointer;
    text-align: right;
}

.student {
    display: flex;
    justify-content: space-between;
}

.attendance-report {

}

.attendance-student {
    display: flex;
    justify-content: space-between;
}

.attendance-student-names {
    display: flex;
}

.flex-start {
    align-items: flex-start;
}

.attendance-student-names h5:not(:first-child) {
    margin-left: 20px;
}

.attendance-link {
    word-break: break-word;
}
